.studentreviews-container {
    height: 600px;
    width: 100%;
    background-color: black;
    border: 5px solid white;
    color: antiquewhite;
    text-align: center;
}

@import "~bootstrap/scss/bootstrap";